<div align="center" style="margin-top: 20%;" >
  Introduzca su nombre de usuario:
  <br>
  <form action="/analizador" method="get">
    <textarea autofocus id="nombreusuario" name="nombreusu"></textarea></br>
    <input type="submit" id="entrar" value="Entrar">
  </form>
</div>